
/*Header Section*/ 
*{padding: 0; margin:0; box-sizing: border-box; font-family: sans-serif;}
header{
	width: 100%;
	height: 100vh;
	background: black;
	clip-path: polygon(0% 0%,100% 0%, 100% 100%,80% 80%,0% 100%);
}
nav{
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: white;
}
.logo{
	font-size: 50px;
	font-weight: bold;
	letter-spacing: 5px;
}
#blue{
	color:#74b9ff;
}

.menu a{
	text-decoration: none;
	color: white;;
	font-size: 20px;
	font-weight: normal;
	padding: 10px;
	margin: 10px;
	transition: all 1s ease-out;
}

.menu a:hover{
	font-size: 22px;
	font-weight: bold;
	border-bottom: 2px solid #74b9ff;
}
.icon img{
	width: 100px;
}
.container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
.left{
	flex-basis: 50%;
}
.right{
	flex-basis: 50%;
	max-width: 400px;
}
.right h1{
	color: #74b9ff;
	font-size: 50px;
}
.right p{
	font-size: 25px;
	margin:10px 0px;
}
.btn{
	background: transparent;
	padding: 10px 20px;
	color: #74b9ff;
	font-weight: bold;
	border: 1px solid #74b9ff;
	border-radius: 8px;
	transition: all 1s ease-out;
}
.btn:hover{
	border: 1px solid white;
	background-color: #74b9ff;
	color: white;
	font-weight: bold;
	transition: all 1s ease-out;
}
.fab:hover{
	opacity: 0.8;
	transition: all 1s ease-out;
}
/* About us */
#about{
	padding: 100px 0px;
}
.about-row{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.about-left-col{
	flex-basis: 50%;

}
.about-right-col{
	flex-basis: 50%;	
	text-align: center;
}
.about-right-col img{
	width: 80%;
}
.about-left-col{
	max-width: 400px;
	margin:auto;
}


.about-left-col h1{
	font-size: 50px;
}
.about-left-col p{
	font-size: 20px;
	text-align: justify;
	margin:15px 0px;
}
.List{
	margin-left: 50px;
	font-size: 20px;
	color: #74b9ff;
	font-weight: bold;
}

.c-btn{
	padding: 10px;
	margin:10px 0px;
	color: white;
	border: none;
	background: #74b9ff;
	border: 2px solid white;
	transition: all 1s ease-out;
	font-weight: bold;
	font-size: 20px;
}
.c-btn:hover{
	opacity: 0.5;
	background-color: white;
	color: #74b9ff;
	border: 2px solid #74b9ff;
}

#signup{
	padding-top: 50px;
	padding-bottom: 20px;
	background: rgba(0,0,0,0.03);
	clip-path: polygon(0% 0%,100% 0%, 100% 100%,80% 80%,0% 100%);
}

.signup-row{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.signup-left-col{
	flex-basis: 50%;
	text-align:center;
}
.signup-left-col img{
	width: 60%;
}
.signup-right-col{
	flex-basis: 50%;
}

.signup-right-col h1{
	font-size: 50px;
}
.signup-right-col h2{
	font-size: 25px;
	letter-spacing: 60px;
	color: rgba(0,0,0,0.3);
	margin:10px 0px;
}

/* ! Service Section  */
#services{
	padding: 50px 0px;
}
.services-info{
	text-align: center;
}
.services-info h1{
	font-size: 50px;
}
.services-info p{
	font-size: 20px;
	font-weight: bold;
}
.service-box-details{
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
	font-family: serif;
	color: #5e5e5e;
}
.services-row{
	display: grid;
	grid-template-columns: repeat(3,200px);
	grid-auto-rows: minmax(150px,auto);
	grid-gap: 3em;
	justify-content: center;
	padding-top: 20px;
}
.service-box-text{
	font-size: 30px;
	font-weight: bold;
	color: #5e5e5e;
}
.services-box{
	box-shadow: 2px 3px 5px grey;
	padding: 10px;
	text-align: center;
	background-color: #d8e6eb;
	transition: all 1s ease-out;
}
.services-box:hover{
	border: 1px solid;
	padding: 10px;
	box-shadow: 5px 10px 20px #888888
}
.services-box i{
	background: #0984e3;
	color: white;
	font-size: 40px;
	padding: 10px;
	margin-top: -20px;
	border: 1px solid gray;
	opacity: 0.9;
}

/* ! Members/User/Feedback Section */
#members{
	padding: 100px;
	background: url(images/dumble.png);
	background-size: 35% 35%;
	background-repeat: no-repeat;
	background-position: top right;
}
.member-card{
	text-align: center;
	padding-top: 50px;
	width: 50%;
	margin:auto;
}
.member-card img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 5px outset lightgrey;
	transition: transform .7s ease-in-out;
}
.member-card img:hover{
	transform: rotateY(180deg);
}
.member-card p{
	font-family: arial;
	margin:20px 0px;
}
.member-card h2{
	font-size: 25px;
	margin:20px 0px;
}
#highlight{
	color: #74b9ff;
	font-weight: bold;
}

/*! Our Features Showcase Section */
#work{
	padding-top: 50px;
	padding-bottom: 200px;
	background: rgba(0,0,0,0.03);
	clip-path: polygon(0% 0%,100% 0%, 100% 100%,80% 80%,0% 100%);
}
.work-box{
	box-shadow: 2px 3px 5px grey;
}

.work-box img{
	width: 100%;
	height: 100%;
	transition: all 1s ease-out;
}
/* This is section for hovereffect */
.hovereffect {
	width:100%;
	height:100%;
	float:left;
	overflow:hidden;
	position:relative;
	text-align:center;
	cursor:default;
}

.hovereffect .overlay {
	width:100%;
	height:100%;
	position:absolute;
	overflow:hidden;
	top:0;
	left:0;
	opacity:0;
	background-color:rgba(0,0,0,0.5);
	-webkit-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
}

.hovereffect img {
	display:block;
	position:relative;
	-webkit-transition:all .4s linear;
	transition:all .4s linear;
}

.hovereffect h2 {
	text-transform:uppercase;
	color:#fff;
	text-align:center;
	position:relative;
	font-size:17px;
	background:rgba(0,0,0,0.6);
	-webkit-transform:translatey(-100px);
	-ms-transform:translatey(-100px);
	transform:translatey(-100px);
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	padding:10px;
}

.hovereffect a.info {
	text-decoration:none;
	display:inline-block;
	text-transform:uppercase;
	color:#fff;
	border:1px solid #fff;
	background-color:transparent;
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	margin:50px 0 0;
	padding:7px 14px;
}

.hovereffect a.info:hover {
	box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
	-ms-transform:scale(1.2);
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
}

.hovereffect:hover .overlay {
	opacity:1;
	filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
	opacity:1;
	filter:alpha(opacity=100);
	-ms-transform:translatey(0);
	-webkit-transform:translatey(0);
	transform:translatey(0);
}

.hovereffect:hover a.info {
	-webkit-transition-delay:.2s;
	transition-delay:.2s;
}

/* ! Contact us Section */

#contact{
	padding: 30px 0px;
}

.contact-row{
	display: flex;
	justify-content: center;
	align-items: center;
}
.contact-left-col{
	flex-basis: 50%;
	padding-top: 50px;
}
.contact-right-col{
	flex-basis: 50%;
	max-width: 450px;
	margin: auto;
}
.contact-right-col i{
	font-size: 20px;
	padding: 10px;
	margin-left: -10px;
	background:#74b9ff;
	color: white; 
	border: 1px solid #ededed;
	border-radius: 30px;
}
.contact-right-col p{
	font-size: 20px;
	margin-top: 10px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #74b9ff;
}
.contact-right-col span{
	font-weight: bold;
	font-size: 25px;
	margin-left: 5px;
	transition: all 0.2s ease-out;
}
.contact-right-col span:hover{
	margin-right: 5px;
	border-bottom: 5px dotted #74b9ff;
	border-right: 5px dotted #74b9ff;
}

#footer{
	background: black;
	color:white;
	padding: 10px;
	display: flex;

	justify-content: space-around;
	align-items: center;
}


#footer h1{
	font-size: 50px;
}
#footer p{
	font-size: 25px;
}

/* ! Form Section */
.form{

	width: 70%;
	margin:auto;
	text-align: center;
}
.form input[type="text"]{
	width: 70%;
	padding: 10px;
	margin-bottom: 10px;
}
textarea{
	width: 70%;
	padding: 10px;
	margin-bottom: 10px;
}

.c_btn{
	background: black;
	color: white;
	padding: 10px;
	width: 50%;
	border:none;
}





